RewriteEngine On
RewriteBase /maridaje/api/

# Si la solicitud es un archivo o directorio existente, no redirigir
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todas las demás solicitudes a public/index.php
RewriteRule ^ public/index.php [L]
